# Исключаем все .json файлы
*.json

# Исключаем все .env файлы
*.env

# Исключаем папку venv (виртуальное окружение)
venv/

# Исключаем все файлы баз данных (например, SQLite файлы)
*.db

# Исключаем все .DS_Store файлы (актуально для macOS)
.DS_Store

# Исключаем все log файлы
*.log

# Исключаем временные файлы и папки, которые могут быть созданы текстовыми редакторами и IDE
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем файлы конфигурации операционной системы
Thumbs.db
desktop.ini

# Исключаем файлы в папке dist, build и подобные
dist/
build/
*.egg-info/
